					<div class="form-group <#colformField#>" v-bind:class="{ 'has-danger': formErrors.has('form-create.<#propertyNameLowerCase#>') }">
                        <label for="<#propertyNameLowerCase#>"><#propertyName#></label>
                        <input type="text" class="form-control" name="<#propertyNameLowerCase#>" placeholder="<#propertyName#>" v-model="crud.<#formType#>.model.<#propertyNameLowerCase#>" <#isRequired#> />
                    </div>