import { Routes } from '@angular/router';

export const routesGenerated: Routes = [
    { path: '', redirectTo: 'dashboard', pathMatch: 'full' },
    { path: 'dashboard', loadChildren: './views/dashboard/dashboard.module#DashboardModule' },
<#pathsRoute#>
];
