                                    <td><span class="badge badge-pill" v-bind:class="{ 'badge-success': item.<#propertyNameLowerCase#>, 'badge-danger': !item.<#propertyNameLowerCase#> }">{{item.<#propertyNameLowerCase#> ? 'Sim' : 'Não'}}</span></td>