.no-padding {
    padding: 0;
}

.content table th.text-center {
    text-align: center;
}

.text-center{
    text-align: center;
}

.panel-heading {
    background-color: #2eb398;
    color: #ffffff;
    border-bottom: 1px solid #2eb398;
    border-left: 1px solid #2eb398;
    border-right: 1px solid #2eb398;
}

.panel-footer{
    border-radius: 0 0 3px 3px;
    color: #363636;
    font-size: 1.25em;
    font-weight: 300;
    line-height: 1.25;
    padding: 0.5em 0.75em;
    border-bottom: 1px solid #dbdbdb;
    border-left: 1px solid #dbdbdb;
    border-right: 1px solid #dbdbdb;
}

.panel-block > .control{
        padding: 7px 9px 18px 9px;
}

[tooltip-top]::before {            
    position: absolute;
    content: attr(tooltip-top);
    opacity: 0;
    transition: opacity 0.5s;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 10px;
    border-radius: 3px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    font-size: 0.75rem;
    line-height: 1;
}

[tooltip-top]:hover::before {        
    opacity : 1;    
}

[tooltip-top]::after {            
    opacity: 0;
    content: "";
    position: absolute;
    transition: opacity 0.5s;
    top: -25%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

[tooltip-top]:hover::after {        
    opacity : 1;    
}

[tooltip-bottom]::before {            
    position: absolute;
    content: attr(tooltip-bottom);
    opacity: 0;
    transition: opacity 0.5s;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 10px;
    border-radius: 3px;
    position: absolute;
    z-index: 1;
    top: 110%;
    font-size: 0.75rem;
    line-height: 1;
}

[tooltip-bottom]:hover::before {        
    opacity : 1;    
}

[tooltip-bottom]::after {            
    opacity: 0;
    content: " ";
    position: absolute;
    transition: opacity 0.5s;
    top: 90%;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #555 transparent;
}

[tooltip-bottom]:hover::after {        
    opacity : 1;    
}
